.actionInitial .x-toolbar-default-vertical {
  padding: 0px;
  background-color: #E1E1E2;
  border: 1px solid #C1C1C2 !important; // TODO need to fix previous important for .x-panel-default-outer-border-tbl
}

.actionInitial .x-btn-inner-default-toolbar-small {
  font-size: 11px;
}

.actionInitial {

  margin-left: 10px;

  a.x-btn {
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-color: #E1E1E2;
    border: 1px solid #C1C1C2 !important; // TODO need to fix previous important for .x-panel-default-outer-border-tbl


    span.x-btn-button-default-toolbar-small {
      margin-top: 25px;
    }
  }

  a.btn-over .x-btn-inner-default-toolbar-small, a.editMode .x-btn-inner-default-toolbar-small
  {
    color: #fff;
  }
  a.btn-over,
  a.editMode,
  a.x-btn.x-btn-focus.x-btn-default-toolbar-small,
  a.x-btn.x-btn-menu-active.x-btn-default-toolbar-small{
    background-color: #6e8cb2;
  }

  .icon-help, .icon-help.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
    background-image: url(../../resources/images/actions/help24.png);
  }

  .icon-delete, .icon-delete.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
    background-image: url(../../resources/images/actions/delete24.png);
  }

  .icon-edit, .icon-edit.x-btn.x-btn-disabled.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/edit24.png);
  }

  .icon-create, .icon-create.x-btn.x-btn-disabled.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/create24.png);
  }

  .icon-save, .icon-save.x-btn.x-btn-disabled.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/save24.png);
  }

  .icon-action, .icon-action.x-btn.x-btn-disabled.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/action24.png);
  }

  .icon-information, .icon-information.x-btn.x-btn-disabled.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/information24_b.png);
  }

  .icon-history, .icon-history.x-btn.x-btn-disabled.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/open24.png);
  }

  .icon-over-help, .icon-help.x-btn.x-btn-focus.x-btn-default-toolbar-small {
    background-image: url(../../resources/images/actions/help24white.png);
  }

  .icon-over-delete, .icon-delete.x-btn.x-btn-focus.x-btn-default-toolbar-small {
    background-image: url(../../resources/images/actions/delete24white.png);
  }

  .icon-over-create, .icon-delete.x-btn.x-btn-focus.x-btn-default-toolbar-small {
    background-image: url(../../resources/images/actions/create24white.png);
  }

  .icon-over-edit, .icon-edit.x-btn.x-btn-focus.x-btn-default-toolbar-small, .icon-edit.editMode {
    background-image: url(../../resources/images/actions/edit24white.png);
  }

  .icon-over-save, .icon-save.x-btn.x-btn-focus.x-btn-default-toolbar-small {
    background-image: url(../../resources/images/actions/save24white.png);
  }

  .icon-over-action,
  .icon-action.x-btn.x-btn-focus.x-btn-default-toolbar-small,
  .icon-action.x-btn.x-btn-menu-active.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/action24white.png);
  }

  .icon-over-information,
  .icon-information.x-btn.x-btn-focus.x-btn-default-toolbar-small,
  .icon-information.x-btn.x-btn-menu-active.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/information24_b_white.png);
  }

  .icon-over-history,
  .icon-history.x-btn.x-btn-focus.x-btn-default-toolbar-small,
  .icon-history.x-btn.x-btn-menu-active.x-btn-default-toolbar-small{
    background-image: url(../../resources/images/actions/open24white.png);
  }
}
/* icons for history - submenu */
.submenu-icon-meterPoint{
  background-image: url(../../resources/images/actions/meterPoint16.png);
}

.submenu-icon-gateway{
  background-image: url(../../resources/images/actions/gateway16.png);
}

.submenu-icon-meter{
  background-image: url(../../resources/images/actions/meter16.png);
}

.submenu-icon-person{
  background-image: url(../../resources/images/actions/user16.png);
}

.submenu-icon-connectionBuilding{
  background-image: url(../../resources/images/actions/location16.png);
}

.submenu-icon-marketParticipant{
  background-image: url(../../resources/images/actions/partnerManagement16.png);
}
