/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

.icon-gateway{
  background-image: url(../../resources/images/entities/gateway24white.png);
}

.icon-meter{
  background-image: url(../../resources/images/entities/meter24white.png);
}

.icon-meterPoint{
  background-image: url(../../resources/images/entities/meterPoint24white.png);
}

.icon-person{
  background-image: url(../../resources/images/entities/person24white.png);
}

.icon-connectionBuilding{
  background-image: url(../../resources/images/entities/connectionBuilding24white.png);
}

.icon-marketParticipant {
  background-image: url(../../resources/images/entities/partnerManagement24_white.png); }

div.relationAccordion{
  border-right: 1px solid #c1c1c2 !important;
}

.relationAccordion .x-panel-body-default{
  padding: 0px;
}

.relationAccordion .x-accordion-item{
  margin: 0 0 1px;
}

.x-mask.x-component{
  z-index: 10010 !important;
}

.x-mask.x-focus{
  border-width: 0px !important;
  border-color: transparent !important;
}


.actionWindow {
  &.x-window-default{
    background-color: #6e8cb2;
    border-color: #6e8cb2;
    border-radius: 0px;
    -webkit-border-radius: 0px;
  }


  .x-window-header-default-top{
    background-color: #6e8cb2;
    border-color: #6e8cb2;
  }

  .x-window-body-default{
  border-color: #6e8cb2;
  }

  .x-window-header-title-default > .x-title-text-default:after{
    content: ''
  }
}

span.required {
  color: #ff0000;
}