.appHeader {
    .content.bg-ewe-highlight {
        background-color: $eweHighlight;

        span {
            color: #ffffff;
        }
    }

    .img-ewe-highlight {
        background: url('header/headerArrow_green.png') 0px -82px;
    }

}
