.stateCheck {
  float: right;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  &.active {
    background-image: url(energy-mom/stateCheckGreen16.png);
  }
  &.noactive {
    background-image: url(energy-mom/stateCheckGrey16.png);
  }
}

.marketParticipantHistoryHeader div {
  font-weight: bold;
}

.marketParticipantHistoryGrid div.x-grid-group-hd {
  white-space: initial;
}