.energy-dialogbox{
    color: red;


    &.x-window-default{

        border-width: 1px;
        border-color: #ccc;
        border-radius: 0px;
    }
    .x-window-body{
        overflow: visible;
    }
    .x-window-body{
        border: 0px;
    }
    .x-toolbar-footer{
        border-color: #fff;
        background-color: #fff;
        margin-bottom: 10px;
    }

    a.x-btn-over, a.x-btn-default-small {
        border-radius: 0px;
        border-color: #ccc;
        background-color: #fff;
        background-image: none;
        span.x-btn-inner-default-small{
            color: #000;
        }
    }

    div.icon{
        width:64px;
        height: 64px;
        position: absolute;
        z-index: 19001;
        top: -32px;
        margin: 0 auto;
        left: 0;
        right: 0;

        &.information{
            background-image: url(energy-common/dialogBox/information64.png);
        }
        &.success{
            background-image: url(energy-common/dialogBox/ok64.png);
        }
        &.warning{
            background-image: url(energy-common/dialogBox/warning64.png);
        }
        &.error{
            background-image: url(energy-common/dialogBox/error64.png);
        }
        &.question{
            background-image: url(energy-common/dialogBox/question64.png);
        }
    }

    div.title{
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 20px;
    }
    div.content{
        max-height: 500px;
        font-size: 12px;
        margin: 20px;
        overflow-y: auto;
    }
}