/* bosch colours */

.energy-message{
  border: none;
  padding: 20px 20px 20px 50px !important;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  display: inline-block;
  width: 100%;
}

.energy-message span{
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}

.energy-info{
  background-image: url(energy-common/message/information.png);
  background-repeat: no-repeat;
  color: $boschBlue10;
  background-color: $boschBlue05;
}


.energy-warning{
  background-image: url(energy-common/message/warning.png);
  background-repeat: no-repeat;
  color: $boschYellow50;
  background-color: $boschYellow25;
}

.energy-error{
  background-image: url(energy-common/message/error.png);
  background-repeat: no-repeat;
  color: $boschRed;
  background-color: $boschRed50;
}

.energy-success{
  background-image: url(energy-common/message/success.png);
  background-repeat: no-repeat;
  color: $boschGreen50;
  background-color: $boschGreen25;
}

.energy-question{
  background-image: url(energy-common/message/question.png);
  background-repeat: no-repeat;
  color: $boschBlue10;
  background-color: $boschBlue05;
}