.commonFormValidationTooltip {
    h1 {
        font-size: 12px;
        margin: 0 0 5px 0;
    }

    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
    }

    td:first-child {
        font-weight: bold;
    }

    .example {
        margin: 0 0 5px 0;
    }
}
