.energy-tooltip{
  background-repeat: no-repeat;
  width: 16px;
  height: 17px;
  pointer: hand;
  top: 3px !important;
  margin-left: 5px;
}

.energy-info-img{
  background-image: url(energy-common/FormTooltip/information16.png);
}

.energy-info-blue-img{
  background-image: url(energy-common/FormTooltip/information16_b.png);
}

.energy-warning-img{
  background-image: url(energy-common/FormTooltip/warning16.png);
}

.energy-error-img{
  background-image: url(energy-common/FormTooltip/error16.png);
}

.energy-success-img{
  background-image: url(energy-common/FormTooltip/success16.png);
}

.energy-question-img{
  background-image: url(energy-common/FormTooltip/question16.png);
}
