/* app header */
$boschBlue100: #003264;
$boschBlue75: #3a5a82;
$boschBlue50: #6e8cb2;
$boschBlue25: #a8bad2;

$boschRed: #e20015;
$red: #bd4647;

$boschGrey100: #808285;
$boschGrey50: #a7a7a7;
$boschGrey25: #dddddd;
$lightGrey: #E1E1E2;

$green: #79C843;
$orange: #ff6d2d;

.bg-green{ background-color: $green; /* smgwa green */ }
.bg-orange{ background-color: $orange; /* smgwa orange */ }
.bg-grey{ background-color: $lightGrey; /* smgwa grey */ }
.bg-darkGrey{ background-color: $boschGrey100; /* smgwa dark grey */ }
.bg-red{ background-color: $red; /* bosch red */ }
.bg-blue25{ background-color: $boschBlue25; /* bosch blue 25 */ }
.bg-blue50{ background-color: $boschBlue50; /* bosch blue 50 */ }
.bg-blue75{ background-color: $boschBlue75; /* bosch blue 75 */ }
.bg-blue100{ background-color: $boschBlue100; /* bosch blue 100 */ }

.appHeader.x-container-default{
  border-left: 1px solid #e1e1e2 !important;
  border-right: 1px solid #e1e1e2 !important;
  border-bottom: none;
  border-top: none;
}

.appHeader{
  position: relative;
  width: 100%;
}
.appHeader .x-btn-pressed,
.appHeader .x-btn-over,
.appHeader .x-btn-focus,
.appHeader .x-btn-disabled{
  background-color: transparent;
  background-image: none;
}
.appHeader .content span{
  color: #FFFFFF;
  padding-top: 5px;
  display: inline-block;
}
.appHeader .header{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
}
.appHeader > div {
  padding: 5px 10px;
}
.appHeader .content{
  padding: 5px 10px 10px 10px;
  border-bottom: 1px solid #e0e0e1;
  z-index: 100;
  position: absolute;
  width: 100%;
}

.arrow{
  height: 8px;
  width: 18px;
  z-index: 1000;
  position: absolute;
  bottom: 2px;
  left: 10px;
}
.arrow.img-grey{
  background: url('energy-common/header/headerArrow.png') 0px -136px;
}
.arrow.img-darkGrey{
  background: url('energy-common/header/headerArrow.png') 0px -127px;
}
.arrow.img-blue100{
  background: url('energy-common/header/headerArrow.png') 0px -118px;
}
.arrow.img-blue75{
  background: url('energy-common/header/headerArrow.png') 0px -109px;
}
.arrow.img-blue50{
  background: url('energy-common/header/headerArrow.png') 0px -101px;
}
.arrow.img-blue25{
  background: url('energy-common/header/headerArrow.png') 0px -91px;
}
.arrow.img-red{
  background: url('energy-common/header/headerArrow.png') 0px -82px;
}
.arrow.img-green{
  background: url('energy-common/header/headerArrow.png') 0px -72px;
}



