/* NavigationButton style */

.buttonOverflow .x-box-inner {
  overflow: visible;
}

.x-btn.appNavButton {
  line-height: 80px;
  background-image: none;
  background-color: #FFFFFF;
  border: 1px solid #E1E1E2;
  border-radius: 0;
}

.buttonOverflow.left .x-btn.appNavButton,
.buttonOverflow.left .x-btn.appNavButtonSelected {
  border-left: 0;
}

.buttonOverflow.right .x-btn.appNavButton,
.buttonOverflow.right .x-btn.aappNavButtonSelected {
  border-right: 0;
}

.x-btn.appNavButton.noBorder {
  border-bottom: 0;
}

.x-btn.appNavButtonSelected.active {
  line-height: 80px;
  background-color: #7AC943;
  background-image: none;
  border: 1px solid #E1E1E2;
  border-radius: 0;
}

.x-btn.appNavButtonSelected.active .appNavButtonImg.ver.left {
  position: absolute;
  right: -11px;
  top: 0;
}

.x-btn.appNavButtonSelected.active .appNavButtonImg.ver.right {
  position: absolute;
  left: -11px;
  top: 0;
}

.x-btn.appNavButtonSelected.active .appNavButtonImg.hor.top {
  position: absolute;
  left: 0;
  top: 58px;
}

.x-btn.appDateButtonSelected.active .appSelButtonImg.hor.bottom {
  position: absolute;
  left: 0;
  top: -11px;
}

.x-btn.appNavButton .appNavButtonImg,
.x-btn.appNavButton.x-disabled img.appNavButtonImg {
  display: none;
}

.x-btn.appNavButton .x-btn-inner {
  line-height: 12px;
  padding-left: 15px;
  color: #a5a6a7; /* bosch gray 75  */
}

.x-btn.appNavButtonSelected .x-btn-inner {
  color: #FFFFFF; /* white */
}

.x-btn.appNavButton .x-btn-inner,
.x-btn.appNavButtonSelected .x-btn-inner {
  font-weight: normal;
  font-size: 12px;
  padding-left: 10px;
}

.x-btn.appNavButtonSelected .x-btn-inner,
.x-btn.appNavButtonSelected.x-btn-over .x-btn-inner {
  color: #FFF; /* white */
  font-weight: bold;
  font-size: 12px;
  line-height: 12px !important;
}

.x-btn.appNavButton.x-btn-over .x-btn-inner {
  color: #808285; /** bosch grey **/
}

.x-btn.appNavButton .preselect,
.x-btn.appNavButtonSelected .preselect {
  padding-top: 0;
}

.selected-bottom {
  background: url('energy-common/dayButton/dayButtonSelectedBg_bottom.png');
}

