/* loading information */

.requestStatus-bottom-body{
  width: 199px;
  height: 100%;
  line-height: 1;
}


.requestStatus-bottom-body .info1,
.requestStatus-bottom-body .info2{
  padding-bottom: 10px;
  padding-left: 10px;
  position: absolute;
  color: #a5a6a7;
}

.requestStatus-bottom-body .info1{
  bottom: 30px;
}

.requestStatus-bottom-body .info2{
  bottom: 0px;
}