/*.actionWindow.x-window-default {
  background-color: #6e8cb2; }
.actionWindow .x-window-header-default-top {
  background-color: #6e8cb2; }

.actionWindow {
  border: 1px solid red !important; }*/

.actionWindow {
  &.x-window-default{
    background-color: #6e8cb2;
  }


  .x-window-header-default-top{
    background-color: #6e8cb2;
  }
}