.#{$prefix}tab {
    background-color: $eweBlueLight;

    &.#{$prefix}tab-default.#{$prefix}tab-active {
        background-color: $eweBlue;
        border-color: $eweBlue;

        .#{$prefix}tab-inner-default {
            color: white;
        }
    }

    &.#{$prefix}tab-navigation {
        background-color: $eweBlue;

        &.#{$prefix}tab-active, &.#{$prefix}tab-over {
            background-color: $eweHighlight;
            border-color: $eweHighlight;

            .x-tab-inner-navigation {
                color: $eweBlue;
            }
        }
    }
}
