/* bosch colours */
$boschBlue100: #003264;
$boschBlue75: #3a5a82;
$boschBlue50: #6e8cb2;
$boschBlue25: #a8bad2;
$boschBlue10: #005691;
$boschBlue05: #D3DFE8;

$boschRed: #e20015;
$red: #bd4647;
$boschRed50: #F9CCD0;

$boschGrey100: #808285;
$boschGrey50: #a7a7a7;
$boschGrey25: #dddddd;
$lightGrey: #E1E1E2;

$green: #79C843;
$boschGreen50: #78BE20;
$boschGreen25: #EAF4DE;

$boschYellow50: #FCAF17;
$boschYellow25: #FEF2DB;

$orange: #ff6d2d;


.green{ color: $green; /* smgwa green */ }
.bg-green{ background-color: $green !important; /* smgwa green */ }
.border-green{ border: 2px solid $green; /* smgwa green */ }

.orange{ color: $orange; /* smgwa orange */ }
.bg-orange{ background-color: $orange; /* smgwa orange */ }
.border-orange{ border: 2px solid $orange; /* smgwa orange */ }

.grey{ color: $lightGrey; /* smgwa grey */ }
.bg-grey{ background-color: $lightGrey; /* smgwa grey */ }
.border-grey{ border: 2px solid $lightGrey; /* smgwa grey */ }

.darkGrey{ color: $boschGrey100; /* smgwa dark grey */ }
.bg-darkGrey{ background-color: $boschGrey100; /* smgwa dark grey */ }
.border-darkGrey{ border: 2px solid $boschGrey100; /* smgwa dark grey */ }

.red{ color: $red; /* bosch red */ }
.bg-red{ background-color: $red; /* bosch red */ }
.border-red{ border: 2px solid $red; /* bosch red */ }

.blue25{ color: $boschBlue25 /* bosch blue 25 */ }
.bg-blue25{ background-color: $boschBlue25; /* bosch blue 25 */ }
.border-blue25{ border: 2px solid $boschBlue25; /* bosch border blue 25 */ }

.blue50{ color: $boschBlue50; /* bosch blue 50 */ }
.bg-blue50{ background-color: $boschBlue50; /* bosch blue 50 */ }
.border-blue50{ border: 2px solid $boschBlue50; /* bosch blue 50 */ }

.blue75{ color: $boschBlue75; /* bosch blue 75 */ }
.bg-blue75{ background-color: $boschBlue75; /* bosch blue 75 */ }
.border-blue75{ border: 2px solid $boschBlue75; /* bosch blue 75 */ }

.blue100{ color: $boschBlue100; /* bosch blue 100 */ }
.bg-blue100{ background-color: $boschBlue100; /* bosch blue 100 */ }
.border-blue100{ border: 2px solid $boschBlue100; /* bosch blue 100 */ }

/* border all */
.border-all{
  border: 1px solid #E1E1E2;
}

/* border left right bottom */
.border-lrb{
  border-left: 1px solid #E1E1E2;
  border-right: 1px solid #E1E1E2;
  border-bottom: 1px solid #E1E1E2;
}

/* border left right */
.border-lr{
  border-left: 1px solid #E1E1E2;
  border-right: 1px solid #E1E1E2;
}

/* border right */
.border-r{
  border-right: 1px solid #E1E1E2;
}

/* border left */
.border-l{
  border-left: 1px solid #E1E1E2;
}

/* border top */
.border-t{
  border-top: 1px solid #E1E1E2;
}

span.required {
  color: #ff0000;
}