$button-default-background-color: $eweButton;
$button-default-border-color: $eweButton;
$button-default-base-color-disabled: $eweButton;
$button-default-background-color-over: $eweButtonDark;
$button-default-background-color-focus: $eweButton;
$button-default-background-color-focus-pressed: $eweButtonDark;
